* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* the navigation bar */

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items at the center vertically */
  align-items: center; /* Center items horizontally */
  width: 200px;
  height: 100vh;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px; /* Add space between navigation and container */
}

.navigation-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-bar li {
  margin-bottom: 10px;
}

.navigation-bar a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.horizontal-nav{
  display: none;
}

/* the container of all the pages */
.container {
  display: flex;
  padding: 86px 0px 0px 245px; /* Adjust the left padding to create space */
}

.content {
  flex: 1;
  padding: 36px;
}

/* the home container/page */
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px; /* Add padding to create space within the container */
}

.about-container h1 {
  font-size: 40px;
  text-align: left;
  margin-top: 85px; /* Position the h1 tag down */
}

.about-container p {
  font-size: 18px;
  text-align: justify;
  width: 100%;
  margin-bottom: 45px;
}

.about-container .resume{
  padding: 15px;
  background-color: green;
  border-radius: 50px;
}

.about-container a{
  text-decoration: none;
  color: white;
}

.about-container h5{
  margin-top: 45px;
  font-size: 25px;
}
/*accounts*/

.about-container .accounts .fa{
  font-size: 35px;
  color: black;
  transition: opacity 0.3s ease;
}
.about-container .accounts .github{
  padding: 5px 0px 0px 0px;
}

.about-container .accounts .facebook{
  padding: 5px 0px 0px 10px;
}
.about-container .accounts .instagram{
  padding: 5px 0px 0px 10px;
}

/*hovering*/
.about-container .accounts .github:hover{
  padding: 5px 0px 0px 0px;
  opacity: 0.5;
}

.about-container .accounts .facebook:hover{
  padding: 5px 0px 0px 10px;
  opacity: 0.5;
}
.about-container .accounts .instagram:hover{
  padding: 5px 0px 0px 10px;
  opacity: 0.5;
}

/*toggle-button*/
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 38px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* Media Query */
@media (max-width: 845px) {
  .toggle-button {
    display: flex;
  }

  .navigation-bar{
  display: none;
  }

  /*horizontal navigation bar*/

  .horizontal-nav{
    display: none;
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
  }

  .horizontal-nav ul{
    display: flex;
    flex-direction: column;
    background-color: rgba(39, 39, 37, .5);
    list-style-type: none;
    width: 100%;  
  }

  .horizontal-nav ul li{
    text-align: center;
    padding: 0 0 10px 0;
    width: 100%;
  }

  .horizontal-nav li a{
  color: black;
  text-decoration: none;
  }

  .container {
    padding-left: 15px;
  }
  

  .horizontal-nav.active{
    display: flex;
  }
}

