* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::root{
    --primary-color: white;
    --secondary-color: black;
}

dark-theme{
    --primary-color: black;
    --secondary-color: white;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.top-nav-container{
    display: none;
}


.side-nav{
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.side-nav a{
    text-decoration: none;
    color: var(--secondary-color);
}



